.pca{
    display: inline-block;
    select{
      padding: 5px 15px;
      height: 30px;
      border: 1px solid #b5b9c2;
      border-radius: 4px;
      background-color: transparent;
      margin-right: 25px;
    }
  }