@import '../../../../utils/var.scss';
.mangerDepart--header{
  padding: 13px 0;
  .officeName{
    width: 170px;
  }
  button{
    font-size: 14px;
    padding: 6px 14px;
    color: #fff;
    border-radius: 3px;
    background-color: $blue;
  }
}

.mangerDepart--footer{
  padding: 20px;
  text-align: center;
  button{
    float: right;
    margin-top: -30px;
    margin-right: 15px;
    font-size: 12px;
    color: #fff;
    background-color: $blue;
    padding: 5px 10px;
    border-radius: 100px;
  }
}

.officeForm{
  display: block;
  overflow: hidden;
  .officeForm--item{
    width: 50%;
    float: left;
  }
}

.totip{
  .totip--header{
    input{
      width: 192px;
    }
    button{
      font-size: 14px;
      padding: 6px 14px;
      color: #fff;
      border-radius: 3px;
      background-color: $blue;
    }
  }
  .totip--content{
    width: 283px;
    height: 229px;
    overflow: auto;
    .totip--content__item{
      display: block;
      padding-left: 14px;
      margin: 5px 0;
    }
  }
  .totip--footer{
    text-align: right;
    margin-top: 60px;
    button{
      margin: 2px;
      padding: 5px 16px;
      background: #fff;
      border-radius: 4px;
      box-shadow: none;
      border: 1px solid #d9d9d9;
      &.confirm{
        color: $blue;    
      }
    }
  }
}

.save{
  margin: 2px;
  padding: 5px 16px;
  background: #fff;
  border-radius: 4px;
  box-shadow: none;
  border: 1px solid #d9d9d9;
  color: $blue;    
}

.blue{
  color: $blue;
}
.error{
  margin-left: 15px;
  color: #fa5555;
}