<div class="header">
  <div class="header--logo" (click)="goHome()">
    <img src="assets/logo.png" alt="">
  </div>
  <div class="header--content">
    <div class="header--content__item"><a>市场推广</a></div>
    <div class="header--content__item"><a>企业电商</a></div>
    <div class="header--content__item active"><a>企业管理</a></div>
    <div class="header--content__item"><a>智能设备</a></div>
  </div>
  <div class="header--msgBox">
    <div class="header--msgBox__item" (click)="stop($event)">
      <img [src]="userInfo?.avatar | defaultUrl" alt="">
      <span>{{userInfo?.userName}}<i class="anticon anticon-caret-down" (click)="toggleShowSelect()"></i></span>
      <div class="userInfo--seletct" [hidden]="!showSelect">
        <p (click)="logout()">登出</p>
      </div>
    </div>
    <div class="header--msgBox__item">
      <img src="assets/message.png" alt="">
      <span>消息</span>
    </div>
    <div class="header--msgBox__item">
      <img src="assets/mail.png" alt="">
      <span>IM</span>
    </div>
  </div>
</div>
